/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/add-card/index.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.add-card_card__1wz0y{
    padding: 46px;
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 20px;
}
